.footer {
  text-align: center;
  padding: 60px;
  background: linear-gradient(0deg, rgba(67,206,255,1) 0%, rgb(0, 31, 77) 100%);
}

.footer a {
  font-size: 30px;
  color: white;
}

.footer p{
  color: white;
  opacity: .7
}

.footer-img {
  height: 40px;
  width: 140px;
  margin: 5px;
  border: 5px solid white;
  border-radius: 15px;
  box-shadow: 6px 6px 5px 0px rgb(0 0 0 / 50%);
  transition: .5s ease;
}

.footer-img:hover {
  height: 44px;
  width: 154px;
}
